.automata-choice-pane {
    -fx-pref-width: 470;
    -fx-pref-height: 230;
}

.dashboard-hbox {
    -fx-alignment: center_left;
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
    -fx-background-color: -panel-color;
    -fx-padding: 0 20 0 20;
}

.dashboard-toolbar{
    -fx-background-color: -panel-header-color;
    -fx-pref-height: 100;
    -fx-padding: 0 20 0 20;
}

.dashboard-title {
    -fx-font-size: 24px;
    -fx-text-fill: -panel-title-text-color;
    -fx-content-display: right;
}

.dashboard-label {
    -fx-font-size: 16px;
    -fx-text-fill: -panel-title-text-color;
    -fx-pref-height: 58;
    -fx-pref-width: 100;
    -fx-content-display: right;
    -fx-alignment: center;
}

.jfx-combo-box{
    -jfx-focus-color: -tab-ripple-color;
    -jfx-unfocus-color: -panel-color;
    -fx-text-fill: -text-subtitle-color;
    -fx-pref-height: 40;
    -fx-pref-width: 330;
}

.combo-box-popup .list-view {
    -fx-font-size: 16px;
    -fx-alignment: center-right;
}

.combo-box-popup .list-cell {
    -fx-background-color: -panel-color;
    -fx-text-fill: -panel-subtitle-text-color;
    -fx-alignment: center-right;
}

.list-cell {
    -fx-alignment: center-right;
}

.combo-box .cell {
    -fx-text-fill: -panel-subtitle-text-color;
    -fx-font-size: 16px;
    -fx-alignment: center-right;
}

.jfx-text-field {
    -jfx-focus-color: -tab-ripple-color;
    -jfx-unfocus-color: -panel-color;
    -fx-background-color: -panel-color;
    -fx-font-size: 16px;
    -fx-text-fill: -panel-subtitle-text-color;
    -fx-pref-height: 40;
    -fx-pref-width: 255;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: -tab-ripple-color;
    -fx-text-fill: -panel-subtitle-text-color;
}

.icon {
    -fx-fill: -icon-color;
    -fx-stroke: -icon-color;
}

.automata-choice-button {
    -fx-wrap-text: true;
    -fx-text-fill: -panel-subtitle-text-color;
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
    -fx-font-size: 16px;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}