@import "../root/Main.css"

.dashboard-pane {
    -fx-base-dark: #222629;
    -fx-base-2-dark: #474b4f;
    -fx-base-3-dark: #6b6e70;
    -fx-accent-dark: #86c232;
    -fx-accent-2-dark: #61892F;
    -fx-text-white: #FFFFFF;
    -fx-background-color: -fx-base-3-dark;
}

.dashboard-toolbar{
    -fx-background-color: -fx-base-3-dark;
    -fx-pref-width: 470;
    -fx-pref-height: 80;
    -fx-padding: 0 20 0 20;
}

.canvas-toolbar{
    -fx-background-color: -fx-base-3-dark;
    -fx-pref-width: 1040;
    -fx-pref-height: 80;
    -fx-padding: 0 20 0 20;
    -fx-spacing: 16px;
}

.toolbar-title {
    -fx-font-size: 24px;
    -fx-fill: -fx-accent-dark;
}

.canvas-title {
    -fx-font-size: 30px;
    -fx-fill: -fx-accent-dark;
}

.canvas-subtitle {
    -fx-font-size: 20px;
    -fx-fill: -fx-text-white;
}

.chart-plot-background {
    -fx-background-color: -fx-base-dark;
}

.canvas-background {
    -fx-background-color: -fx-base-dark;
}

.automata-choice-pane {
    -fx-pref-width: 470;
    -fx-pref-height: 230;
}

.dashboard-label {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-accent-dark;
    -fx-content-display: right;
}

.dashboard-hbox {
    -fx-alignment: center;
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
}

.simulation-pane {
    -fx-pref-width: 1040;
    -fx-pref-height: 100;
    -fx-alignment: center;
    -fx-background-color: -fx-base-3-dark;
}

.chart-series-line {
    -fx-stroke: -fx-accent-dark;
}

.simulation-button {
    -fx-wrap-text: true;
    -fx-text-fill: -fx-text-white;
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
    -fx-font-size: 20px;
    -fx-pref-width: 170;
    -fx-pref-height: 100;
}

.jfx-combo-box{
    -jfx-focus-color: -fx-accent-2-dark;
    -jfx-unfocus-color: -fx-base-3-dark;
    -fx-text-fill: -fx-text-white;
}

.combo-box-popup .list-view {
    -fx-font-size: 16px;
}

.combo-box-popup .list-cell {
    -fx-background-color: -fx-base-3-dark;
    -fx-text-fill: -fx-text-white;
}

.combo-box .cell {
    -fx-text-fill: -fx-text-white;
    -fx-font-size: 16px;
}

.jfx-text-field {
    -jfx-focus-color: -fx-accent-2-dark;
    -jfx-unfocus-color: -fx-base-3-dark;
    -fx-background-color: -fx-base-3-dark;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: -fx-accent-2-dark;
    -fx-text-fill: -fx-text-white;
}

.icon {
    -fx-fill: -fx-accent-dark;
    -fx-stroke: -fx-accent-dark;
}